# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Power BI
*.pbit

# Temporary files
*.tmp
*.temp

# System files
.DS_Store
Thumbs.db

# Large/local data files
# Uncomment if raw data should not be uploaded to GitHub
# data/raw/*.csv
